
.container{
    border: 2px solid #4caf50;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    background-color: #24262b;
    overflow:scroll;
    overflow-x:hidden;
}
img{
    border-radius: 4px;
    margin: 1% 1% 1% 1%;
    width: 250px;
    height: 250px;
  }
.inside_row{
    margin-top: 50px;
    border: 2px solid #4caf50;
    border-left: none;
    border-right: none;
    border-radius: 2px;

}
.doctors_image{
    display: flex;
    flex-direction: row;
    border-radius: 4px;

}
.doctors_info{
    border-radius: 4px;
    width: 40%;
    height: 40%;
    background-color: #4caf50;
    margin-top: 1%;
}

h3 {
    border: 2px solid #34373f;
    border-left: none;
    border-right: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 0;
}

.request_text {
    margin: 1% 0 0 10%;
    width: 20%;
    height: 20%;
    text-align: center;
}

.request_button {
    border-radius: 4px;
    background-color: rgb(174, 192, 180);
}

.request_button__one {
    border-radius: 4px;
    background-color: rgb(225, 135, 71);
}