.form-doctor{
    width: 60%;
    height: 800px;
    background-color: #24262b;
    position: fixed;
    z-index: 1;
    left: 350px;
    top: 100px;
    border: 1px solid greenyellow;
    border-radius: 10px;
}

#close-modal{
    font-size: 30px;
    width: 70%;
    height: 40px;
    background-color: #bbbbbb;
    color: red;
}

.container-register-doctor{
    display: none;
}

.register-body {
	background-color: rgb(29, 31, 31);
	
}

.title-register {
	text-decoration: underline greenyellow;
}

label {
    font-size: 16px;
    font-weight: 300;
    color: #bbbbbb;
}

h1{
	font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}

.form-doctor-register{
    width: 70%;
}

.form-doctor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}